http_interactions:
- request:
    method: get
    uri: https://sjc1.qualtrics.com/API/v3/surveys/
    body:
      encoding: ''
      string: ''
    headers:
      X-API-TOKEN: <<<my_api_key>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      request-time: '1127'
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"result":{"elements":[{"id":"SV_021gL8lgKxsnUou","name":"MHE ED Rounding
        - TMC","ownerId":"UR_72tTOlzHXELrmKO","lastModified":"2023-09-08T19:19:42Z","creationDate":"2022-12-07T21:05:22Z","isActive":true},{"id":"SV_0H4fDioF22kPVc2","name":"EMS
        Satisfaction - EMS Program Directors","ownerId":"UR_9KS6so6h04gOQEm","lastModified":"2023-03-22T15:33:11Z","creationDate":"2023-02-21T17:21:16Z","isActive":true},{"id":"SV_0ImT6P6fOmAV5L8","name":"NewStart
        Med Weight Mgmt","ownerId":"UR_9KS6so6h04gOQEm","lastModified":"2023-02-08T18:52:36Z","creationDate":"2023-01-12T16:13:16Z","isActive":true},{"id":"SV_0lhvH0R9046H5oG","name":"Nav
        MHE Survey - Zoom","ownerId":"UR_72tTOlzHXELr[...]
